__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
*.pcap
*.pcapng
*.log
.DS_Store
node_modules/
dist/
build/
soc_platform/data/pcaps/*.pcap
soc_platform/data/firmware/*
!soc_platform/data/firmware/.gitkeep
soc_platform/data/suricata-logs/*
!soc_platform/data/suricata-logs/.gitkeep
soc_platform/data/pcaps/capture_20260102_103154.pcap
